{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    {% if not categories.items is same as([])%}
    <h1 class="d-flex justify-content-center mt-5">Mes catégories</h1>

    {% for message in app.flashes('success') %}
        <div class=" alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    <h3 class="d-flex justify-content-center mt-4"> 
    Il y a {{categories.getTotalItemCount}} catégories au total</h3>

    <a href="{{ path('categories.new') }}" class="btn btn-outline-primary m-4">
        Créer une catégorie
    </a>

    <div class="container mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Auteur</th>
                    {# <th scope="col">Articles associés</th> #}
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>

                </tr>
            </thead>
        <tbody>
      {% for categories in categories %}
                <tr class="table-light">
                    <th scope="row">{{ categories.id }}</th>
                        <td>{{ categories.name }}</td>
                        <td>{{ categories.createdAt|date('d/m/Y') }}</td>
                        <td>{{ categories.user.username}}</td>
                        {# <td>{{ (categories.id articles.id is null) ? 'Aucun pour le moment' : categories.id articles.id }}</td> #}
                        <td>
                            <a href="{{ path('categories.edit', { id: categories.id}) }}" class="btn btn-outline-primary">Modifier</a>
                        </td>
                        <td>
                        <td> 
                            <a href="{{ path('categories.delete', { id: categories.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                </tr>
    {% endfor %}
        </tbody>
        </table>
    {# display navigation #}
<div class="navigation d-flex justify-content-center mt-3">
    {{ knp_pagination_render(categories) }}
</div>
{% else %}
<h4 class="d-flex justify-content-center mt-3">Vous ne possédez pas de catégories pour le moment</h4>
<div class="d-flex justify-content-center mt-5">
    <a href="{{ path('categories.new') }}" class="btn btn-outline-primary m-4">
        Créer une catégorie
    </a>
</div>
{% endif %}
    </div>

{% endblock %}
